
/* condizioni generali */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

.container{
    max-width: 1000px;
    margin: auto;
}

.container::after{
    clear: both;
}

/* header */

h1{
    font-size: 50px;
    font-weight: 700;
    color: #e43070;
    text-align: center;
    margin-top: 20px;
}

header p{
    margin: 30px auto;
    text-align: center;
}

/* section */ 

.rettangolo{
    background-color: #0f0e17;
    width: 30%;
    height: 100px;
    float: left;
    margin: 15px;
    box-shadow: 10px 5px 10px #888888;
}

img{
    float: left;
    height: 100%;
    margin-right: 15px;
}

.besidetext{
    color: white;
    padding: 10px;
    text-align: left;
}

.besidetext a{
    color: #0092da;
    text-decoration: none;
}